[submodule "Sodaq_DS3231"]
	path = Sodaq_DS3231
	url = https://github.com/SodaqMoja/Sodaq_DS3231
[submodule "Sodaq_GPRSbee"]
	path = Sodaq_GPRSbee
	url = https://github.com/SodaqMoja/GPRSbee
[submodule "Sodaq_RTCTimer"]
	path = Sodaq_RTCTimer
	url = https://github.com/SodaqMoja/RTCTimer
[submodule "Adafruit_ADS1X15"]
	path = Adafruit_ADS1X15
	url = https://github.com/Adafruit/Adafruit_ADS1X15
[submodule "Adafruit_DHT"]
	path = Adafruit_DHT
	url = https://github.com/Adafruit/DHT-sensor-library
[submodule "Adafruit_TSL2561"]
	path = Adafruit_TSL2561
	url = https://github.com/Adafruit/TSL2561-Arduino-Library
[submodule "SDL_Arduino_SSD1306"]
	path = SDL_Arduino_SSD1306
	url = https://github.com/switchdoclabs/SDL_Arduino_SSD1306
[submodule "EnviroDIY_SoftwareSerialMod"]
	path = EnviroDIY_SoftwareSerialMod
	url = https://github.com/EnviroDIY/SoftwareSerialMod
